.app {
   height: 100%;
   display: grid;
   grid-template-columns: 234px 1fr;
   grid-template-rows: auto 1fr;
   &__header {
      grid-column: span 2;
   }
   &__aside {
      border-right: var(--border);
   }
}

.main {
   display: flex;
   flex-direction: column;
   &__nav {
      border-bottom: var(--border);
   }
   &__content {
      flex: 1 1 auto;
      padding: 0 10px;
      background-color: var(--color-dark);
   }
}
