.table {
   width: 100%;
   border-collapse: collapse;
   &__body {
      tr {
         &:last-child {
            td {
               border-bottom: none;
            }
         }
      }
   }
   &__ceil {
      padding: 12px;
      color: var(--color-gray);
      line-height: var(--line-h-large);
      border-bottom: var(--border);
      &_small {
         min-width: 100px;
      }
      &_normal {
         min-width: 200px;
      }
      &_large {
         width: 100%;
      }
   }
}
